doctype html
html
	head
		title=title
		meta(http-equiv="X-UA-Compatible",content="IE=8")
		meta(name="viewport" ,content="initial-scale=1.0, user-scalable=no")
		meta(charset="utf-8")
		link(rel='stylesheet', href='/less/style.css')
		script(type='text/javascript', src='/libs/spin.js')
		script(type='text/javascript', src='/js/init.js')
		script(type='text/javascript', data-main='/js/main', src='/libs/requirejs/require.js')
	body
		div(id="___spin")