<% if(!log){ %>
	<h1>Innovention Voting</h1>
	<h2>Please Log in with a NYU Email</h2>
	<a href="/auth/google/callback">Login</a>
<% } else if(email){ %>
	<h1>Innovention Voting admin</h1>
	<div class="createNewItem">
		<input class="title" type="text" placeholder="Title" value="" />
		<input class="videoLink" type="text" placeholder="Link to Video" value="" />
		<button class="create">Create</button><br/>
		<textarea class="desc " placeholder="Description"></textarea>
	</div>
	<ul class="list">

	</ul>
	
<% } else { %>
	<h1>Innovention Voting</h1>
	<h2>you need the prevlage </h2>
	<a href="/logmeout">Log me out</a>
<% } %>